<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Dashboard | Vive Zarzal</title>

  <link rel="stylesheet" href="/styles/root.css">

  <link rel="stylesheet" href="/styles/components/header.css">

  <link rel="stylesheet" href="/styles/components/footer.css">

  <link rel="stylesheet" href="/styles/dashboard.css">

</head>

<body>

  <%- include('./partials/header') %>

  <%- include('./partials/footer') %>

</body>

</html>